
<div class='chat-list-item{{className}}' onCLick='location.href = "chat.html"'>
  <div class='chat-list-item-avatar'>
    {{{profileAvatar}}}
  </div>

  <div class='chat-list-item-info'>
    <div class='chat-list-item-header'>
      <span class='chat-list-item-name'>{{chatName}}</span>
      <span class='chat-list-item-date'>{{lastMessageDate}}</span>
    </div>

    <div class='chat-list-item-content'>
      <div class='chat-list-item-message'>{{lastMessage}}</div>
      {{#if newMessageCount}}
        <div class='chat-list-item-badge'>{{newMessageCount}}</div>
      {{/if}}
    </div>
  </div>
</div>
